/* home */

/* education */

/* my-project */
.my-project 

/* about */
.about .contact-links {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about .contact-links a {
    font-size: 1rem;
    font-weight: 580;
    color: rgb(255, 255, 255);
}